body {
    background: #fbfaf8;
}
body, textarea, select, input {
    font-family: "Microsoft Yahei";
}
a{
  
    text-decoration: none!important;
}
a:hover{
    text-decoration: none!important;
}
.bd-toc-link{
    display: block;
    padding-left: 28px;
    padding-right: 50px;
    margin: 0;
    border: 0;
    font-size: 14px;
}
.num {
    position: absolute;
    right: 18px;
    color: #a99a8f;
    font-size: 11px;
    font-weight: 400;
    font-family: Tahoma;
    font-style: normal;
}
.bd-toc-link{
    color: #613f23;
    text-decoration: none;
    padding: 9px 0;
    border-bottom: 1px dashed #e2dcd7;
}
.bd-toc-link:hover{
    color: #fa7a20;
    text-decoration: none;
}
.bd-content{
    min-height: 400px;
    border-left: 1px solid #e2dcd7;
}
.active .bd-toc{
    color: #fa7a20;
}
.ui-book-wd96{
    width: 96px;
    height: 128px;
}
.ui-book-wd75{
    width: 75px;
    height: 100px;
}
.ui-book{
    display: block;
    overflow: hidden;
   
    margin: 0 20px;
    /* padding: 4px 10px 16px; */
    margin-bottom: -4px;
    background-position: 0 0;
    -moz-box-shadow:1px 1px 17px #7C7979; -webkit-box-shadow:1px 1px 17px #848181; box-shadow:1px 1px 17px #868383;
    
}
.ui-book-tit{
    display: block;
    max-height: 36px;
    margin: 3px 0 5px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    color: #613f23;
    font-size: 16px;
    
}
.ui-book-user{
    padding: 3px 0;
    color: #999;
}
.ui-book-describe{
    color: #666;
    line-height: 25px;
}
.u-ttl3{
    position: relative;
    border-bottom: 1px solid #ebe7e2;
}
.u-ttl3 h2{
    padding-bottom: 20px;
    padding-top: 20px;
}
.ui-b-com{
    color: #333;
    font-weight: 700;
    font-size: 14px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.ui-bool-headline{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #333333;
}